PORT='3000'
DATABASE_HOST='localhost'
DATABASE_PORT='3306'
DATABASE_USERNAME='root'
DATABASE_PASSWORD='renzo'
DATABASE_NAME='aos_db'
JWT_SECRET='base_secret123'
JWT_TOKEN_EXPIRES_IN='3600h'
TIDB_ENABLE_SSL='true'
#Only if TIDB_ENABLE_SSL is true 
TIDB_CA_PATH='./isrgrootx1.pem'
SENDGRID_API_KEY=''
SENDGRID_EMAIL_SENDER=''
FRONTEND_URL='http://localhost:3030'

AWS_ACCESS_KEY_ID='your_access_key_id'
AWS_SECRET_ACCESS_KEY='your_secret_access_key'
AWS_REGION='your_region'
AWS_S3_BUCKET_NAME='your_bucket_name'
